body {
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

nav {
    flex: 1 0 250px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background: #58B3AB;
    z-index: 0;
}

section {
    background: #f2f0f1;
    flex: 4 1 auto;
    padding: 2em;
    overflow: auto;
    color: #000036;

}
section h1 {
    margin: 0 2%;
    padding:.5rem 1.5rem;
}
section p {
font-size:14px;
font-family: 'Open Sans', sans-serif;
line-height:1.5em;
    margin:0  2%;
    padding:.5rem 1.5rem;
}
section p {

/*line-height: 2rem;*/
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
}

section h1 {
    font-family: Abel;
font-size: 2.103515625em;
line-height: 1rem;
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
}


/* side-nav */

.side-nav {
    padding-top: .5rem;
}

.side-nav ul {
    margin: 0;
    padding: 0;
}

.side-nav ul li a {font-family: 'abel', sans-serif;
    padding: 0.75rem 0;
    font-size: 1.2rem;
    color: #ECF0F1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;
    display: block;
    text-align: center;
}

.side-nav ul li a:hover {
    background: #2C3E50;

}

.side-nav ul li a:focus {
    background: #2C3E50;
}


/* social icons */

footer {
    display: flex;
    justify-content: center;
}

.social-icons-sidebar {
    font-size: 1.4em;
    position: absolute;
    bottom: 2em;
    left: calc(250px/4);
}

.social-icons-sidebar a {
    padding: 0 0.4em;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
}

.social-icons-sidebar a:hover {
    color: #2C3E50;
}

.crights {
    font-size: .7em;
    color: white;
    position: absolute;
    bottom: .1em;
}

nav img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: .7em auto;
}


/*---------- CARDS LAYOUT ----------*/

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

a {
    background-color: transparent;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.card img {
    display: block;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    margin-bottom: 1em;
    border-radius: 5px;
    transition: 0.2s;
    filter: grayscale(3);
}

.card img {
    border-radius: 5px 5px 0px 0px;
}

.card a {
    color: black;
    text-decoration: none;
    border-radius: 2px;
}
.card h2{
    color:white;
}

.card-content p {
    padding: .9em;
}

.card-content h2 {
    padding: 0.4em;
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
    background-color: #58B3AB;
}

.card-content p {
    font-size: 14px;
}

.card-footer {
    /*display: flex;*/
    padding: .5em 1.7em;
}

.card-footer a {
    background-color: red;
    color: white;
}

.right {
    margin-left: auto;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    filter: grayscale(0);
}


/*640px*/

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: -1em;
    }
    .card {
        display: flex;
        width: 100%;
        margin-bottom: 1em;
    }
}


/*960px*/

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    .card {
        flex: 0 1 calc(33% - .5em);
        margin-bottom: 2em;
    }
    .centered {
        max-width: 80vw;
    }
    .menu-container{
        display: none;}
}


/*320px*/

@media screen and (min-width: 20em) {
    .centered {
        max-width: 80vw;
    }
    /* nav{
        display: none;
    } */
}


/*MEDIA QUERIES*/

@media(max-width: 960px) {
    .wrapper {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .menu-container{
        display: none;}
    .social-icons-sidebar {
        position: static;
    }
    .crights {
        display: none;
    }
    .side-nav li ul {
        flex-direction: column;
        display: flex;
    }
    .social-icons-sidebar {
        padding: 20px;
    }
}
/*contact*/

.center-block {
  margin-right: auto;
  margin-left: auto;
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row wrap;
}

form {
  position: relative;
  width: 96%;
  max-width: 85rem;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.2222em;
}

form > div:last-child {
  justify-content: space-around;
}

input,
textarea {
  flex-grow: 1;
  margin: 1rem 2%;
  padding: 1.1rem 1.5rem;
  border: 2px solid #ADACAD;
  border-radius: 3px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input:focus,
textarea:focus {
  background-color: rgba(96, 125, 139, 0.2);
}

input[type="submit"] {
  flex-grow: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #58B3AB;;
  border: 3px solid #58B3AB;;
  -webkit-transition: all .3s;
  transition: all .3s;
}

input[type="submit"]:focus, input[type="submit"]:hover {
  cursor: pointer;
  flex-grow: 1;
  color: #58B3AB;;
  background-color: #fff;
  border: 3px solid #58B3AB;;
}
