body {
    font-family: 'abel', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

nav {
    flex: 1 0 200px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background: #58B3AB;
    z-index:1;
}

section {
    background: #f2f0f1;
    flex: 4 1 auto;
    padding: 2em;
    overflow: auto;
    color:#ADACAD;
}

section p{
font-size: 20px;
letter-spacing: 2px;
}
section h1{
    font-size: 30px;
    letter-spacing: 8px;
}
/* side-nav */

.side-nav {
    padding-top: .5rem;
}

.side-nav ul {
    margin: 0;
    padding: 0;
}

.side-nav ul li a {
    padding: 0.75rem 0;
    font-size: 1.2rem;
    color: #ECF0F1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;
    display: block;
    text-align: center;
}

.side-nav ul li a:hover {
    background: #2C3E50;
}

.side-nav ul li a:focus {
    background: #2C3E50;
}


/* social icons */

.social-icons-sidebar {
    font-size: 1.4em;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2em;
    left: 50px;
}

.social-icons-sidebar a {
    padding: 0 .2rem;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
}

.social-icons-sidebar a:hover {
    color: #2C3E50;
}

nav img {
    display: flex;
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin: .7em auto;
}


/*cards*/

.cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .card {
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .card:nth-child(even) {
        margin-right: 0;
    }
}

@media (min-width: 980px) {
    .card:nth-child(even) {
        margin-right: 20px;
    }
    .card:nth-child(3n) {
        margin-right: 0;
    }
}

.card span {
    display: block;
}

.card .card-summary {
    padding: 5% 5% 3% 5%;
}

.card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
}

.card .card-header:hover, .card .card-header:focus {
    background-color: rgba(255, 255, 255, 0);
}

.card .card-title {
    background: #58B3AB;
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.card:hover, .card:focus {
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.card:hover .card-title, .card:focus .card-title {
    background: #18312F;
    border-left: red 2px solid;
}

.card:hover .card-meta, .card:focus .card-meta {
    max-height: 1em;
}

img {
    max-width: 100%;
}

* {
    -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}


/*toottip*/
